h2, h3{
    font-family: AvenirNextRoundedProBold;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFFFF;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.left-nav-link {
    color: gray !important;
    font-weight: 600 !important;
    display: inline-flex !important;
    vertical-align: middle !important;
}

.left-nav-link:hover {
    color: gray !important;
}

.nav-item-clicked {
    background-color: #EFF4FF;
    border-right: solid;
    border-right-width: 4px;
    border-right-color: #2659EE;
}

.nav-link-clicked,
.nav-link-clicked:hover {
    color: #2659EE !important;
}

/* .sidenav a:hover {
    color: #f1f1f1;
} */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    background-color: whitesmoke;
    transition: margin-left .5s;
    /* padding: 16px; */
}

.content{
    padding-right: 0px !important;
    background-color: whitesmoke;
    width: 100%;
}


@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.dashboard-card{
    /* background-color: white; */
    border-radius: 15px !important;
}